/* begin mensen */
.mensen table {                                                                                                         
  width: 100%;                                                                                                  
}                                                                                                               
                                                                                                                
.mensen th {                                                                                                            
  cursor: pointer;                                                                                              
  border: 1px solid blue;                                                                                       
}                                                                                                               
                                                                                                                
.mensen th:hover {                                                                                                      
  background-color: yellow;                                                                                     
}
.mensen .nomatch1 {
  display:none;
}
.mensen .nomatch2 {
  color: lightgrey;
}
/* end mensen */
