.twimagelist {
  text-align: center;
}
.twimagelist>div {
  display: inline;
}
.twimagelist img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 320px;
  border: 2px solid grey;
  padding: .5em;
  background-color: white;
}
.twimagelist img:hover {
  border: 2px solid blue;
}
.twimagelist .template {
  display: none
}
