.twimagelist>div {
  display: inline;
}
.twimagelist img {
  height: 400px;
  width: auto;
  border: 2px solid grey;
  padding: .5em;
  background-color: white;
}
.twimagelist img:hover {
  border: 2px solid blue;
}
.twimagelist .template {
  display: none
}
