.mensen table {                                                                                                         
  width: 100%;                                                                                                  
}                                                                                                               
                                                                                                                
.mensen th {                                                                                                            
  cursor: pointer;                                                                                              
  border: 1px solid blue;                                                                                       
}                                                                                                               
                                                                                                                
.mensen th:hover {                                                                                                      
  background-color: yellow;                                                                                     
}
.mensen tr.nomatch,
.mensen .nomatchHide tr.nomatch {
  display: none;
}
.mensen .nomatchGrey tr.nomatch {
  display: table-row;
  color: lightgrey;
}
